{% extends "base.html.twig" %}

{% block body %}
    {# Commentaire #}
    {# {{ msg }} = <?= $msg ?> #}
    <h1>MoiJV</h1>
    <header class="jumbotron my-4">
        <h1 class="display-3">Mes produits</h1>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, ipsam, eligendi, in quo sunt possimus non incidunt odit vero aliquid similique quaerat nam nobis illo aspernatur vitae fugiat numquam repellat.</p>
        <a href="{{path('add_product')}}" class="btn btn-primary btn-lg">+ Ajouter un produit</a>
      </header>
      
    {% include 'incs/product_list.html.twig' with { 'products' : products, 'routeName' : 'home_paginated' } %}
    

    
    
{% endblock %}